AUTH_ISSUER_URL=https://tarea1-auth-z2fqxmm2ja-uc.a.run.app/realms/pre
AUTH_AUTHORIZATION_URL=https://tarea1-auth-z2fqxmm2ja-uc.a.run.app/realms/pre/authorize
AUTH_TOKEN_URL=https://tarea1-auth-z2fqxmm2ja-uc.a.run.app/realms/pre/token
AUTH_JWKS_URL=https://tarea1-auth-z2fqxmm2ja-uc.a.run.app/.well-known/jwks.json

PRE_CLIENT_ID=
PRE_CLIENT_SECRET=
PUBLIC_APP_URL=
TOKEN_ENCRYPTION_KEY=
SESSION_COOKIE_NAME=integratrip_session